php_value upload_max_filesize 100M
php_value post_max_size 64M
php_value max_execution_time 300
php_value max_input_time 300
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /Works/2018/Dec/sage/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Works/2018/Dec/sage/index.php [L]
</IfModule>

# END WordPress